*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Raleway';
    src: url('Fonts/ofont.ru_Raleway.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
    font-family:raleway;
    line-height: 1.6;
    color: #293133;
    background: #E4EAF8;
    font-size: 2rem;
    position: relative;
}

body::before{
    content: '';
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url(pict/MaskGroupZ.svg);
    background-position: center;
    background-repeat: no-repeat;

    z-index: -1;
    pointer-events: none;
}

html{
    scroll-behavior: smooth;
}

header{
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
    color: #8987A1;
    font-size: 1.2rem;
}



.SignSpace{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.SignSpace a{
    transition: transform 0.3s;
    text-decoration: none;
    color: #8987A1;
}

.SignSpace a:hover{
    font-weight: bold;
    color: #191820;
    transform: scale(1.05);
}

.navbar{
    background: #FFFFFF;
    opacity: 60%;
    padding: 1rem;
    border-radius: 20px;
    max-width: 499px;
    max-height: 70px;
    border: 1px #FFFFFF;
}

.navbar ul{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    list-style: none;
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbar a{
    text-decoration: none;
    color: #8987A1;
}
.navbar a:hover{
    font-weight: bold;
    color: #191820;
}


.SignBtn p{
    font-size: 1.2rem;
    justify-self: center;
}

.SignBtn{
    background: #4E47FF;
    width: 132px;
    height: 50px;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
    cursor: pointer;
}

.SignBtn:hover{
    transform: scale(1.1);
}

.CardTitle{
    justify-self: center;
    padding: 5rem;
    margin-top: 2rem;
    width: 50%;
    height: 315px;
    font-size: 50px;
    line-height: 6rem;
    color: #252432;
    text-align: center;
}


.GiTBtn{
    margin-top: 1.7rem;
    background: #252432;
    color: white;
    font-size: 16px;
    width: 211px;
    height: 60px;
    border-radius: 10px;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition: transform 0.3s;
    cursor: pointer;
}

.GiTBtn:hover{
    transform: scale(1.1);
}

.CardWWd{
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
    justify-self: center;
}

.GenBoxWWD{
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.WWD{
    padding: 8rem;
}

.WWD h2{
    padding-left: 6rem;
    font-size: 5rem;
}

.columnBox h3{
    margin-bottom: 1rem;
}

.BoxWWD{
    height: 280px;
    width: 280px;
    background: white;
    border-radius: 8px;
    padding: 1rem;
    transition: transform 0.3s;
}

.BoxWWD:hover{
    transform: scale(1.1);
}

.BoxWWD h3{
    margin-bottom: 1rem;
}

.CardWWd h3{
    font-size: 20px;
}

.CardWWd p{
    font-size: 14px;
}


.LeftTopWWd{
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
}

.RectangleHorizWWD{
    display: flex;
    height: 280px;
    width: 623px;
    background: white;
    border-radius: 4px;
    padding: 1rem;
    transition: transform 0.3s;
}

.RectangleHorizWWD:hover{
    transform: scale(1.1);
}

.RectangleHorizWWD h3{
    margin-bottom: 1rem;
}


.RowBox{
    display: flex;
    flex-wrap: wrap;
    height: 623px;
    width: 280px;
    background: white;
    border-radius: 4px;
    padding: 1rem;
    transition: transform 0.3s;
}

.RowBox:hover{
    transform: scale(1.1);
}

.LeftWD{
    display: flex;
    flex-wrap: wrap;
    max-width: 312px;
    gap: 2rem;
}

.columnBox p{
    margin-bottom: 9.5rem;
}


#WWDPhooto{
    height: 280px;
    width: 280px;
    object-fit: contain;
}


/* =====================footer================== */

footer{
    background: white;
    max-height: 400px;
    max-width: 1220px;
    border-radius: 40px;
    padding: 3rem;
    justify-self: center;
    font-size: 1.2rem;
    color: #8987A1;
    margin-bottom: 3rem;
}

.ServicesNav ul{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    list-style: none;
    padding-left: 1rem;
    padding-right: 1rem;
}

.ServicesNav a{
    text-decoration: none;
    color: #8987A1;
}
.ServicesNav a:hover{
    font-weight: bold;
    color: #191820;
}


.Services{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 18rem;
    font-size: 1.2rem;
}

.info{
    max-width: 22rem;
    line-height: 1.4rem;
    font-size: 1rem;
    padding-top: 1.3rem;
}


.BottomFooter{
    display: flex;
    flex-wrap: nowrap;
    gap: 35rem;
    margin-top: 2rem;
    font-size: 1rem;
}

/* =================SheduleMeeting================= */

.Pricing{
    display: flex;
    flex-wrap: nowrap;
    gap: 7rem;
    padding: 10rem;
    color: #8987A1;
    justify-content: center;
}


.ScheduleMeeting{
    background: white;
    border-radius: 20px;
    max-width: 400px;
    padding: 1rem;
    margin-top: 6rem;
}


.ScheduleMeeting h3{
    max-width: 15rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: bold;
    color: #252432;
}

.SMBtn p{
    font-size: 1.2rem;
    justify-self: center;
    color: white;
}

.SMBtn{
    background: #4E47FF;
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    transition: transform 0.3s;
    cursor: pointer;
}

.SMBtn:hover{
    transform: scale(1.05);
}

.pricleft{
    font-size: 1.2rem;
    max-width: 25rem;
}

.pricleft h2{
    color: #252432;
}

.pricRight{
    background: white;
    border-radius: 20px;
    padding: 4rem;
    padding-bottom: 1rem;
    padding-right: 8rem;
}

.pricRight p{
    font-size: 1.2rem;
    max-width: 30rem;
}

.pricRight h3{
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #252432;
}

.CheckList{
    display: flex;
    flex-wrap: wrap;
    gap: 10rem;
    margin-top: 3rem;
}


.pricleft h2{
    font-size: 5rem;
}

.price{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #F5F8FF;
    border-radius: 10px;
    padding: 1rem;
    padding-bottom: 0.1rem;
    align-items: center;
    margin-top: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 30rem;
    transition: transform 0.3s;
    cursor: pointer;
}

.price:hover{
    transform: scale(1.1);
}

.priceText{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

/* ==========================COW============================ */


.HeadCOW{
    position: relative;
}

#COWImg{
    position: absolute;
    left: 30rem;
    opacity: 0.3;
}

.HeadCOW{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.COWTitle p{
    color: #8987A1;
    font-size: 1rem;
    text-align: center;
    max-width: 35rem;
}

.COWTitle{
    justify-content: center;
    align-items: center;
}

.COWTitle h3{
    text-align: center;
    font-size: 5rem;
}

.Review{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    background: white;
    border-radius: 20px;
    padding: 0.5rem;
    align-items: center;
    justify-self: center;
    max-width: 25rem;
    cursor: pointer;
    transition: transform 0.3s;
    padding: 1rem;
}

.Review:hover{
    transform: scale(1.1);
}

.Review p{
    font-size: 1rem;
}

.StarsNode{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    flex-direction: column;
}

.StarsNode img{
    margin: 0;
    padding: 0;
}

.StarsNode p{
    line-height: 0.5rem;
    padding-bottom: -2rem;
    margin-top: 0.5rem;
}


/* ===================================swiper================================ */


.swiper {
    max-width: 100%;
    margin: 2rem auto;
    padding: 20px 0 40px;
    position: relative;
}

.swiper-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}


.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    max-width: 1000px; 
    background: white;
    padding: 1rem;
    border-radius: 20px;
    transition: all 0.3s ease;
    opacity: 0.7;
    transform: scale(0.9);
}




.swiper-slide-active {
    opacity: 1;
    transform: scale(1);
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}



.prev:hover, .next:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
}

/* ================LGIT======================= */


.Forms{
    justify-self: center;
    margin-bottom: 10rem;
}

.Forms h2{
    font-weight: bold;
    font-size: 4rem;
    margin: 2rem;
    margin: 2rem;

}


.FormField h4{
    font-size: 1.4rem;
    margin: 0.3rem;
}

.Field{
    background: white;
    opacity: 0.2;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid #b1a8b1;
    width: 100%;

}

#message{
    height: 13rem;
}

.TouchBtn{
    cursor: pointer;
    background: #4E47FF;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    border: 1px solid #4E47FF;
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 0.5rem;
    margin-left: 1rem;
    transform: scale(1.05);
    transition: transform 0.3s;
}

.TouchBtn:hover{
    transform: scale(1.1);
}


/* ======================FAQ=========================== */

.FAQ{
    margin-bottom: 9rem;
    position: relative;
}

.FAQSpace{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
    justify-self: center;
}

#ImgFAQ{
    position: absolute;
    top: 8rem;
}

.TitleFAQ{
    padding: 6rem;
    margin-right: 5rem;
}

.TitleFAQ h2{
    max-width: 5rem;
}

.LIFAQ{
    background: white;
    padding: 1rem;
    font-size: 1rem;
    margin: 1rem;
    border-radius: 10px;
    width: 35rem;
    position: relative;
}

.LIFAQ h4{
    font-size: 1rem;
    font-weight: bold;
}

.LIFAQ p{
    font-size: 0.8rem;
}


.subText{
    display: none;
}

.openElem{
    position: absolute;
    left: 34rem;
    top: 1rem;
    padding: 0.2rem;
    cursor: pointer;
}


.floating-button{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: white;
    opacity: 0.7;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;
}
.floating-button:hover{
    transform: scale(1.05);
}
.floating-button a{
    color: #191820;
    text-decoration: none;
    font-size: 1.5rem;
}

.LinkImgFooter{
    transition: transform 0.3s;
    cursor: pointer;
}

.LinkImgFooter:hover{
    transform: scale(1.3);
}


.modal{
    background: white;
    border-radius: 10px;
    height: 60rem;
    width: 60rem;
    justify-self: center;
    position: absolute;
    top: 0;
    left: 30rem;
    z-index: 2;
}



@media (max-width:768px){


    header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
    }
    
    

    .CheckOurWork{
        color: #191820 !important;
    }


    .navbar ul {
        gap: 1rem;
    }
    
    .CardTitle {
        width: 100%;
        height: 20%;
        padding: 2rem;
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .WWD{
        justify-self: center;
        justify-items: center;
        padding: 1rem;
    }

    .CardWWd{
        margin-left: 2rem;
    }

    
    .WWD h2 {
        font-size: 3rem;
        padding-left: 0;
        text-align: center;
    }
    
    .GenBoxWWD {
        width: 100%;
    }
    
    .LeftTopWWd, .RectangleHorizWWD {
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        justify-content: center;
        margin-bottom: 1rem;
    }

    .RectangleHorizWWD p{
        margin: 0;
        margin-bottom: 1rem;
    }


    .RowBox{
        max-height: 41%;
    }

    .RowBox p{
        margin-bottom: 0.5rem;
    }

    .RowBox img{
        margin: 0;
    }
    
    .BoxWWD{
        width: 100%;
        height: auto;
    }
    
    .HeadCOW {
        flex-direction: column;
        gap: 1rem;
    }
    
    .COWTitle h3 {
        font-size: 3rem;
    }
    
    .prev, .next{
        display: none;
    }

    .swiper-slide{
        max-width: 100%;
    }


    .Pricing {
        flex-direction: column;
        padding: 2rem;
        gap: 2rem;
        text-align: center;
    }
    
    .pricRight {
        padding: 2rem;
        padding-right: 2rem;
    }
    
    .FAQSpace {
        width: 95%;
    }
    
    .TitleFAQ {
        padding: 1rem;
        margin-right: 0;
        font-size: 1.3rem;
        text-align: center;
    }

    .TitleFAQ h2{
        max-width: 100%;
    }
    

    .LIFAQ {
        width:85%;
        padding: 1.2rem;
        padding-right: 2rem;
    }

    .openElem{
        position: relative;
        left: 0;
        top: 0;
    }
    
    
    .Forms {
        width: 80%;
        justify-content: center;
    }
    
    .Forms h2 {
        font-size: 2rem;
        text-align: center;
    }
    
    footer {
        width: 90%;
        padding: 2rem;
        justify-items: center;
    }
    
    .Services {
        flex-direction: column;
        gap: 2rem;
    }

    .link{
        justify-items: center;
    }
    
    .BottomFooter {
        flex-direction: column;
        gap: 2rem;
    }
    
    #COWImg, #ImgFAQ {
        display: none;
    }

    .price{
        flex-wrap: nowrap;
    }
    

}